# Database
DATABASE_URL=

# NextAuth
NEXTAUTH_SECRET=AdYy3C2dumrekeJGr6tHWrIOwXxsgS59AxkO7VBnGL4=
NEXTAUTH_URL=http://localhost:3000

# Encryption (for API key encryption)
ENCRYPTION_KEY=q6yxF48rKwM7Wm/XXIxJy8l4GTvsQ4yM36ycFeHyjDY=

# Polymarket (optional - for server-side proxy if needed)
POLYMARKET_API_KEY=

# OAuth Providers (optional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
